<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- namespace等于全限定名 -->
<mapper namespace="com.baizhi.dao.MenuDao">
    <resultMap id="listMap" type="Menu">
        <id column="mid" property="id"/>
        <result column="mtitle" property="title"/>
        <collection property="menuList" ofType="Menu">
            <id column="id" property="id"/>
            <result column="parent_id" property="parent_id"/>
            <result column="title" property="title"/>
            <result column="iconCls" property="iconCls"/>
            <result column="url" property="url"/>
        </collection>
    </resultMap>
<!-- 查询一个 -->
  <select id="selectAll" resultMap="listMap">
       select m1.id mid,m1.title mtitle,m2.* FROM
         menu m1 INNER JOIN menu m2 ON m1.id=m2.parent_id
  </select>

</mapper>
